@font-face {
    font-family: uf;
    src: url("uf.ttf");
}
* {
    overflow-x: hidden;
    scrollbar-width: 0;     /* Set the thickness of the scrollbar in Firefox */
    /* scrollbar-color: blue transparent;  */
    ::-webkit-scrollbar {
        display: none;    /* Hide scrollbars in Webkit browsers */
    }
}

::-webkit-scrollbar {
    display: none;    /* Hide scrollbars in Webkit browsers */
}
body {
    background-color: #131212;
    color: white;
    font-family: uf;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    height: 100%
}


.icons {
    scrollbar-width: none;

    overflow-y: hidden;
    transition: overflow 0.3s ease-out;
    margin-top: 25px;
    font-size: 4em;
    letter-spacing: 10px;
}

.icons-social {
    letter-spacing: 10px;
    font-size: 2em;
}

.line {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    min-height: 30px;
    min-width: 100%;
    color: white;
}

.intro {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    font-size: 30px;
    width: 80%;
    margin: 5em auto;
    /* margin-bottom: 0 !important; */
    text-align: center;
}

.info_packets {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    font-size: 30px;
    width: 600px;
    /* border: 2px solid wheat; */
    margin: 14em auto;
    text-align: center;
}

.hello_i_am {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    font-size: 1.8em;
    margin-bottom: 40px;
}

.name {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    font-size: 3em;
    color: rgb(114, 172, 211);
}

.what_i_am {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    /* margin-top: 30px; */
    font-size: 2em;
    margin-top: 15px;
    margin-bottom: 20px;
}

.quote {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    font-size: 0.9em;
    color: rgba(256, 256, 256, 0.7);
    /* margin-bottom: 20px; */
}

.pc_icon {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    margin-top: 40px;
    font-size: 4em;
    color: rgba(256, 256, 256, 0.7);

}

.caption_pc {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    color: rgba(256, 256, 256, 0.7);
    margin-bottom: 3em;
}

.heading {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    color: rgb(114, 172, 211);
    font-size: 1.8em;
    font-weight: bolder;
    overflow-y: hidden;
    /* letter-spacing: 2px; */
}

.iiest {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    margin-top: 30px;
    font-size: 0.85em;
    margin-bottom: 15px;
    overflow-y: hidden;
}

.about_me_caption {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    font-size: 0.8em;
    color: rgba(256, 256, 256, 0.7);
}

.education_subdiv {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    font-size: 30px;
    text-align: left;
    max-width: 550px;
    margin: auto;
    /* margin-top: 10px; */
    /* border-left: 1px solid wheat; */
    min-height: 80px;
    /* padding-left: 80px; */
    padding-top: 0;
    margin-top: 30px;

}

.header_small {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    /* margin-top: 20px; */
    color: rgb(114, 172, 211);
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
    overflow-y: hidden;
}

.header_small_small {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    font-size: 0.8em;
    margin-bottom: 15px;
    overflow-y: hidden;
}

.hs {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    font-size: 0.8em;
    color: rgba(256, 256, 256, 0.7);
}

.info_packets_proj {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    /* border: 3px solid white; */

    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.nft {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    flex: 1;
    user-select: none;
    min-width: 500px;
    max-width: 500px;
    max-height: fit-content;
    /* margin: 5rem; */
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, .5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: .5s all;

    hr {
        width: 100%;
        border: none;
        border-bottom: 1px solid #88888855;
        margin-top: 0;
    }

    ins {
        text-decoration: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: 94%;
        padding: 1rem;

        .tokenImage {
            border-radius: .5rem;
            width: 100%;
            margin: auto;
            margin-bottom: 10px;
            height: 260px;
            object-fit: cover;
        }

        .description {
            margin-top: 0;
            margin-left: 5px;
            /* margin: .5rem ; */
            color: #a89ec9;
        }

        .tokenInfo {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .price {
                display: flex;
                align-items: center;
                gap: 5px;

                button {
                    all: unset;
                    color: #ffffff;
                    font-weight: 700;
                    /* padding-top: 0; */
                    padding: 10px 10px;
                    /* gap: 1vw; */
                    border-radius: 10px;
                    background-color: #1b1d21;

                    ins {
                        margin-left: -.3rem;
                        margin-right: .5rem;
                    }

                    /* max-height: 35px; */

                    margin-bottom: 5px;
                }
            }

            .duration {
                display: flex;
                align-items: center;
                color: #a89ec9;
                margin-right: .2rem;

                ins {
                    margin: .5rem;
                    margin-bottom: .4rem;
                }
            }
        }

        .creator {
            display: flex;
            align-items: center;
            margin-top: .2rem;
            margin-bottom: -.3rem;

            ins {
                color: #a89ec9;
                text-decoration: none;
            }

            .wrapper {
                display: flex;
                align-items: center;
                border: 1px solid #ffffff22;
                padding: .3rem;
                margin: 0;
                margin-right: .5rem;
                border-radius: 100%;
                box-shadow: inset 0 0 0 4px #000000aa;

                img {
                    border-radius: 100%;
                    border: 1px solid #ffffff22;
                    width: 2rem;
                    height: 2rem;
                    object-fit: cover;
                    margin: 0;
                }
            }
        }
    }





}
#scrollTracker {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: transparent;
}

#scrollProgress {
    width: 100%;
    height: 5px;
    background-color: rgb(114, 172, 211);
    transition: height 0.3s ease;
}
.heading_proj_parent {
    transition: overflow 0.3s ease-out;
    overflow-y: hidden;
    font-size: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    width: fit-content;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .info_packets_proj {
        flex-direction: column;
    }
}

@media screen and (max-width: 620px) {
    .icons-social {
        letter-spacing: 5px;
        font-size: 1em;
    }
    #scrollTracker{
        right: unset;
        left: 0;
        width: 5px;
    }
    .line {
        min-height: 15px;
    }
    .heading_proj_parent{
        font-size: 40px;
    }
    .info_packets {
        /* text-align: left; */
        font-size: 40px;
        /* min-width: 450px; */
        max-width: 400px;
        margin: 10em auto;
    }

    .info_packets_proj {
        /* text-align: left; */
        /* min-width: 450px; */
        max-width: 400px;
    }

    .intro {
        margin-top: 8em;

        font-size: 20px;
    }

    .name {
        font-size: 2.5em;
    }

    .what_i_am {
        font-size: 1.3em;
    }

    .hello_i_am {
        font-size: 1.3em;
        margin-bottom: 14px;
    }

    .heading {
        font-size: 0.8em;
        ;
    }

    .iiest {
        /* text-align: left; */
        max-width: 300px;
        margin: auto;
        margin-top: 15px;
        font-size: 0.5em;
        margin-bottom: 10px;
    }

    .about_me_caption {
        /* text-align: left; */
        font-size: 0.5em;
        /* margin-top: 10px; */
        color: rgba(256, 256, 256, 0.7);
        /* margin-top: -10px; */
    }

    .header_small {
        font-size: 0.55em;
    }

    .header_small_small {
        font-size: 0.5em;
        margin-bottom: 10px;
    }

    .hs {
        font-size: 0.47em;
    }

    .education_subdiv {
        font-size: 40px;
        margin-top: 20px;
        min-width: unset;
        max-width: fit-content;
    }
    .icons{
        font-size: 2em;
    }

}

@media screen and (max-width: 500px) {
    .icons {
        margin-top: 25px;
        font-size: 2.7em;
        letter-spacing: 10px;
    }

    .info_packets {
        margin-top: 5em;
        min-width: 80%;
        max-width: 300px;
    }
}

@media screen and (max-width: 620px) {
    .nft {
        flex: 1;
        user-select: none;
        min-width: 340px;
        max-width: 340px;
        max-height: fit-content;
        /* margin: 5rem; */
        border: 1px solid #ffffff22;
        background-color: #282c34;
        background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, .5) 100%);
        box-shadow: 0 7px 20px 5px #00000088;
        border-radius: .7rem;
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        overflow: hidden;
        transition: .5s all;

        hr {
            width: 100%;
            border: none;
            border-bottom: 1px solid #88888855;
            margin-top: 0;
        }

        ins {
            text-decoration: none;
        }

        .main {
            display: flex;
            flex-direction: column;
            width: 91%;
            padding: 1rem;

            .tokenImage {
                border-radius: .5rem;
                width: 100%;
                margin: auto;
                margin-bottom: 10px;
                height: 190px;
                object-fit: cover;
            }

            .description {
                margin-top: 0;
                margin-left: 5px;
                /* margin: .5rem ; */
                color: #a89ec9;
            }

            .tokenInfo {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .price {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    button {
                        all: unset;
                        color: #ffffff;
                        font-weight: 700;
                        /* padding-top: 0; */
                        padding: 10px 10px;
                        /* gap: 1vw; */
                        border-radius: 10px;
                        background-color: #1b1d21;

                        ins {
                            margin-left: -.3rem;
                            margin-right: .5rem;
                        }

                        /* max-height: 35px; */

                        margin-bottom: 5px;
                    }
                }

                .duration {
                    display: flex;
                    align-items: center;
                    color: #a89ec9;
                    margin-right: .2rem;

                    ins {
                        margin: .5rem;
                        margin-bottom: .4rem;
                    }
                }
            }

            .creator {
                display: flex;
                align-items: center;
                margin-top: .2rem;
                margin-bottom: -.3rem;

                ins {
                    color: #a89ec9;
                    text-decoration: none;
                }

                .wrapper {
                    display: flex;
                    align-items: center;
                    border: 1px solid #ffffff22;
                    padding: .3rem;
                    margin: 0;
                    margin-right: .5rem;
                    border-radius: 100%;
                    box-shadow: inset 0 0 0 4px #000000aa;

                    img {
                        border-radius: 100%;
                        border: 1px solid #ffffff22;
                        width: 2rem;
                        height: 2rem;
                        object-fit: cover;
                        margin: 0;
                    }
                }
            }
        }


    }
}

.price button:hover {
    cursor: pointer !important;
}

.reallyslow {
    animation-duration: 3s;
    animation-delay: 1s;
}
